body,p,a,span{
    padding: 0;
    margin: 0;
}
a:link{
    text-decoration: none;
}
.main-section{
    background: url("../img/background.png") no-repeat;
    background-size:cover;
    height: 100vh;
    min-height: 870px;
    font-family: sans-serif;
}
.header-on-page{
     background: rgba(0,0,0,0.4);
     padding:20px 80px 20px 80px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    grid-template-areas:
    "logo . subsections";
    width: auto;
    align-items: center;
}
.header-subsections{
    display: flex;
    grid-area: subsections;
    justify-self: right;
}
.header-logo{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: white;
    grid-area: logo;
}
.header-logo:hover{
    color: #3cb878;
}
.header-subsections-icons{
    align-items: center;
    display: flex;
}
.header-subsections-icons a svg:hover #calendar {
    fill: #3cb878;
}

.header-subsections-icons a svg:hover #mail {
    fill: #3cb878;
}
.header-subsections-icons a svg:hover #journey {
    fill: #3cb878;
}
.header-subsections-registration:before{
    content: "";
    display: inline-block;
    width: 2px;
    height: 20px;
    vertical-align: middle;
    background-color: #7d7873;
    margin-right: 25px;

}
.icon-header{
     margin-right:28px;
 }

.header-subsections-registration{
    margin-left:20px ;
    display: flex;
    color: white;
    font-size: 14px;
    justify-content: space-between;
    width: 208px;

}
.header-subsections-registration:hover{
    opacity: 0.7;
}
.header-subsections-registration a{
    text-decoration: none;
    color: white;
}
.header-subsections-registration a:hover{
    color: #3cb878;
}

.registration-window{
    width: 320px;
    padding: 30px 60px 30px 60px;
    background-color: white;
    border-radius: 10px;
    margin: calc((100vh - 65px - 686px)/2) auto ;
}

.registration-sign-in{
    position: relative;
    float: left;
    font-size: 20px;
}
.registration-sign-in:before{
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    left: -60px;
}
.registration-log-in{
    float: right;
    font-size: 14px;
    color: rgba(60, 184, 120, 1);
}
.registration-log-in:hover{
    text-decoration: underline;
    color: #01813F;
}
.registration-button{
    margin-top: 15px;
    display: flex;
    width: 326px;
    justify-content: space-between;
}
.button-elem-positions{
    width: 160px;
    height: 48px;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 47px 111px ;
    grid-template-rows: auto;
    grid-template-areas:
    "sign inscr";
    align-items: center;
}
.button-facebook-sign, .button-google-sign{
    justify-self: center;
    grid-area: sign;
    display: block;
    position: relative;
}
.button-facebook-inscription:before, .button-google-inscription:before{
    content: "";
    border-left: 1px solid black;
    opacity: 0.1;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 18px;

}
.button-facebook {
    background-color: #305db8;
    float: left;
}
.button-facebook:hover{
    background-color: #264b96;
}
.button-facebook-inscription, .button-google-inscription{
    color: white;
    grid-area: inscr;
    justify-self: left;
}
.button-google{
    background-color: #df4a32;
    float: right;
}
.button-google:hover{
    background-color: #c3412c;
}

.separator-or{
    position: relative;
    text-align: center;
    margin: 33px 0 18px 0;
}
.separator-or-inscription{
    color: #848484;
    font-size: 14px;
}
.separator-or-inscription:before{
    position: absolute;
    top: 8px;
    left: 0;
    content: "";
    display: inline-block;
    width: 135px;
    height: 1px;
    background-color: #848484;
}
.separator-or-inscription:after{
    position: absolute;
    top: 8px;
    right: 0;
    content: "";
    display: inline-block;
    width: 135px;
    height: 1px;
    background-color: #848484;
}
.input-line{
    width: 100%;
    outline: none;
    padding: 18px 0 18px 17px;
    font-size: 14px;
    border-radius: 5px;
    border: #eaeaea solid 1px;
    margin: 9px 0 9px 0;
}
.input-line:active,.input-line:focus{
    border-color: transparent;
    box-shadow: 0 0 10px  1px #d6d6d6;
}
.input-checkbox-label{
    display: inline-block;
    font-size: 14px;
    position: relative;
    margin: 20px 0 25px 0;
}
.input-checkbox{
    display: none;
}
.input-checkbox + .input-checkbox-label:before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #848484;
    border-radius: 4px;
    margin-right: 10px;
    vertical-align: middle;
}
.input-checkbox:checked + .input-checkbox-label:after{
    content: "";
    display: inline-block;
    height: 4px;
    width: 10px;
    border-radius: 2px;
    border-left: 4px solid #3cb878 ;
    border-bottom:4px solid #3cb878;
    transform: rotate(-45deg);
    position: absolute;
    left: 5px;
    top: 5px;
}
.input-button{
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
    width: 100%;
    height: 45px;
    color: white;
    background-color: #3cb878;
    font-size: 16px;

}
.input-button:hover{
    background-color: #01813F;
}

@media screen and (max-height: 800px) {
    .registration-window {
       margin: 23px auto;
    }
}

.end-block-clear:after{
    content: "";
    display: block;
    clear: both;
}
