body{
    padding: 0;
    margin: 0;
    max-width: 1366px;
    font-family: 'Roboto', sans-serif;
}
.page-section{
    background: url("../img/background 1.png");
    width: auto;
    min-width: 1023px;
    height: 100%;
}
.container{
    max-width: 1023px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
}
.header-bar{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 51px;
}
.header-bar a{
    text-decoration: none;
    color: white;
}
.header-bar-logo{
    display: flex;
}
.header-bar-logo:hover{
    color: #F26522;
}
/*.header-bar-logo:hover #pattern0{*/
/*    fill: #F26522;*/
/*}*/
.header-bar-logo-sign{
    grid-area:logo ;
    margin-right: 10px;
}
.header-bar-logo-name{
    display: flex;
    flex-direction: column;
}
.header-bar-contacts{
    display: flex;
    flex-direction: column;
    text-align: right;
    height: 53px;
    justify-content: space-between;
}
.header-bar-contacts a:hover{
    color:#F26522;
}
.header-bar-logo-name-bigger-font{
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
}
.header-bar-logo-name-small-font{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}
.tours-section{
    display: grid;
    grid-template-columns: repeat(3, 295px);
    grid-template-areas:
    "c1r1 c2r1 c3r1"
    "c1r2 c2r2 c3r2";
    grid-column-gap: 61px;
    grid-row-gap: 37px;
    margin-top: 17px;
}

.tours-section a{
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: white;
    text-align: center;
    position: relative;
}
.tours-section a img{
    width: 295px;
    z-index: 0;
}
.tours-descr{
    position: relative;
    z-index: 2;
}
.hover-prompt{
    position: absolute;
    visibility: hidden;
    background-color: #F26522;
    width: 295px;
    bottom: 0;
    height: 55px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 8px;
    grid-template-areas:
    "from . . ."
    "price . details sign";
    z-index: 0;
    }
.hover-prompt-price-descr{
    grid-area: from;
    align-self: end;
    font-size: 10px;
    line-height: 10px;
}
.hover-prompt-price{
    grid-area: price;
    align-self: start;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
}
.hover-prompt-view-details{
    grid-area: details ;
    font-size: 14px;
    line-height: 14px;
    justify-self: right;
}
.hover-prompt-sign{
    grid-area: sign;
}
.tours-section a:hover > .hover-prompt{
    visibility: visible;
    bottom: 54px;
    z-index: 1;
    transition: bottom 0.9s ease;
}
.tours-section a:hover > .tours-descr{
    color: #F26522;
}
.tours-section-item-c1r1{
    grid-area:c1r1;
}
.tours-section-item-c2r1{
    grid-area:c2r1;
}
.tours-section-item-c3r1{
    grid-area:c3r1;
}
.tours-section-item-c1r2{
    grid-area:c1r2;
}
.tours-section-item-c2r2{
    grid-area:c2r2;
}
.tours-section-item-c3r2{
    grid-area:c3r2;
}
.footer{
   display: flex;
    justify-content: center;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    margin-top: 49px;
    margin-bottom: 15px;
}

