body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    max-width: 1900px;
}

.header-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    max-width: 1900px;
    background-color: #222F3A;
    position: fixed;
    height: 70px;
    margin-left: 0;
    top: 0px;
}
.header-bar-logo{
    display: flex;
    align-items: center;
}
.header-bar-logo-icon{
    margin: 24px 24px 24px 24px;
}
.header-bar-logo-name{
 color: white;
 margin-left: 27px;
 font-size: 22px;
 line-height: 30px;
 font-weight: bold;
}
.header-bar-menu{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}
.header-bar-menu-item a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}
.header-bar-menu-item a:hover{
    color: rgba(20, 185, 213, 1);
}
.header-bar-menu-item{
  margin-left: 35px;
}
.header-bar-search-button{
    padding: 24px 24px 24px 24px;
    background-color: black;
    align-self: flex-start;
}
.top-infoplace{
    width:100%;
    max-width: 1900px;
    height: 369px;
    margin-left: 0;
    margin-top: 70px;
    background: url("../img/background/header-background.png");
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.top-infoplace-title{
    color: white;
    margin-bottom: 44px;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
}
.top-infoplace-buttons{
    display: flex;
}
.top-infoplace-button-1{
    text-decoration: none;
    color: white;
    background-color: rgba(137, 202, 98, 1);
    width: 170px;
    height: 55px;
    margin-left: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-infoplace-button-2{
    text-decoration: none;
    color: white;
    background-color: rgba(20, 185, 213, 1);
    width: 170px;
    height: 55px;
    margin-left: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.posts-section{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 72px;
    background-color: rgba(242, 242, 242, 1)
}
.posts-section-title{
    margin-top: 49px;
    color: rgba(24, 180, 207, 1);
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
}
.posts-section-items{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    align-items: flex-start;
    justify-content: center;
}
.posts-section-item{
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    text-decoration: none;
}
.posts-section-item span{
    margin-top: 20px;
    margin-bottom: 20px;
}
.clients-section {
    margin-top: 0;
    padding-top: 0;
    background: url("../img/background/parallax-bg.jpeg");
    height: 588px;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 237px 106px auto;
    grid-template-areas:
    ". title ."
    ". line ."
    " . items ."
;
}
.clients-section-title{
    margin-top: 35px;
    color: white;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    grid-area: title ;
    justify-self: center;
    align-self: center;

}
.clients-section hr{
    grid-area: line;
    justify-self: center;
    width: 60px;
    height: 3px;
    background: #18B4CF;
    border-color: #18B4CF;
    align-self: start;
}
.clients-section-items{
    grid-area: items ;
    justify-self: center;
    align-self: start;
}
.clients-section-items img{
    margin-right: 58px;
}
.toprated-section{
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: 134px auto;
}
.toprated-section-title{
    grid-column-start: 1;
    grid-column-end: end;
    align-self: center;
    justify-self: center;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    text-transform: uppercase;
}
.hotnews-section{
    display: grid;
    grid-template-columns: 277px 35px 243px 60px 243px 35px 277px;
    grid-template-rows: auto;
    row-gap: 44px;
    width: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.hotnews-section a {
    background-color: rgba(249, 247, 247, 1);
    text-decoration: none;
}
.hotnews-section a .text{
    color: rgba(91, 100, 105, 1);
    text-align: right;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}
.hotnews-section a .title{
   color: rgba(53, 58, 61, 1);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}
.hotnews-section-title{
    grid-column-start: 1;
    grid-column-end: -1;
    align-self: center;
    justify-self: center;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
}
.hotnews-section-item-horisontal-left{
    grid-area:2 / 1 / col6-start / 2;
    grid-column-end:col6-srart;
    display: grid;
    margin-right: 30px;
    grid-template-columns: 483px 374px;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "photo title"
    "photo info";
    width: 857px;
}
.hotnews-section-item-horisontal-left img {
    grid-area: photo;
}
.hotnews-section-item-horisontal-left .title{
    grid-area: title;
    text-align: center;
    margin-top: 40px;
}
.hotnews-section-item-horisontal-left .text{
    grid-area: info;
    text-align: right;
    width: 350px;
    height: 140px;
    margin-bottom: 40px;
}

.hotnews-section-item-horisontal-right{
    grid-area:5 / 3 / 5 / 7;
    display: grid;
    grid-template-columns: 483px 374px;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "photo title"
    "photo info";
    width: 857px;
}
.hotnews-section-item-horisontal-right img {
    grid-area: photo;
}
.hotnews-section-item-horisontal-right .title{
    grid-area: title;
}
.hotnews-section-item-horisontal-right .text{
    grid-area: info;
    text-align: right;
    width: 350px;
    height: 140px;
    margin-bottom: 40px;
}

.hotnews-section-item-right-short{
    grid-column: 7;
    grid-row: 2;
    display: grid;
    grid-template-columns: 277px;
    grid-template-rows: repeat(2, auto);
    width: 277px;
}

.hotnews-section-item-left-short{
    grid-column: 1;
    grid-row: 5;
    display: grid;
    grid-template-columns: 277px;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "photo"
    "title"
    "info";
    width: 277px;
}

.hotnews-section-item-left-up{
    grid-area: 3/1/3/col4-start;
}

.hotnews-section-item-left-down{
    grid-area: 4/1/4/col4-start;
}

.hotnews-section-item-right-up{
    grid-area: 3/ 5 / 3 / 7;
}
.hotnews-section-item-right-down{
    grid-area: 4/ 5 / 4/ 7;
}
.hotnews-section-item-left-up, .hotnews-section-item-left-down, .hotnews-section-item-right-up, .hotnews-section-item-right-down{
    width: 554px;
}

.footer-bar{
    display: grid;
    grid-template-columns: repeat(5, auto);
    background-color: black;
    grid-template-areas:
    ". copyright . logo .";
    height: 80px;
    align-items: center;
    margin-top: 71px;
    max-width: 1900px;
    width: 100%;
}
.footer-bar-copyright{
    color: rgba(255, 255, 255, 1);
    grid-area: copyright;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    word-wrap: break-word;
}

.footer-bar-logo{
    display: flex;
    justify-content: center;
    grid-area: logo;
}
.footer-bar-logo-sign{
    margin-right: 3px;
}