.heading{
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    line-height: 94px;
    margin-left: 98px;
    margin-top: 63px;
    margin-bottom: 40px;
    font-weight: normal;
}
.NavBar {
    width: 1283px;
    height: 72px;
    list-style-type: none;
    background-color: rgba(53, 68, 79, 1);
    margin-left: 98px;
    margin-right: 99px;
    list-style-type: none;
    text-align: center;
}
.NavBar-item{
    display: inline-block;
    font-size: 20px;
    border-left: 1px solid white;
    height: 72px;
}
.NavBar-item:hover{
    background-color: #222F3A;
}
.NavBar-item a{
    display: inline-block;
    padding-top: 28px;
    margin-left: 38px;
    margin-right: 38px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
}
.main-container{
    margin-left: 100px;
    margin-top: 49px;
    display: grid;
    grid-template-columns: 344px 885px;
    /*grid-template-rows: auto;*/
    column-gap: 52px;
    row-gap: 32px;
    grid-template-areas:
    "vertical-menu picture"
    ". text"
    "footer footer"
}

.vertical-menu{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    grid-area: vertical-menu;
    border: 1px solid black;
    padding-top: 26px;
    height: 399px;
}
.vertical-menu-items{
    width: 324;
    height: 81px;
}
.vertical-menu-items:hover{
    background-color: #DBDBDB;
}
.vertical-menu-items:hover a{
    margin-left: 60px;
    color: black;
}
.vertical-menu-items a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    text-decoration: none;
    color: #485863;
    margin-left: 44px;
    display: block;
    margin-top: 24px;
}
.main-text{
    grid-area: text;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
}
.picture{
    width: 320px;
    height: 381px;
    padding-top: 75px;
    padding-bottom: 73px;
    padding-left: 297px;
    padding-right: 268px;
    border: 1px solid black;
}
.footer{
    display: flex;
    background-color: rgba(99, 105, 110, 0.48);
    align-items: center;
}
.footer-bar{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.footer-bar-items{
    display: inline-block;
    margin-left: 40px;
}
.footer-bar-items a{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
}
.footer-bar-items a:hover{
    color: #6699CC;
    text-decoration: underline;
}

.footer-copyright {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    margin-left: 130px;
}