.Header{
    height: 78px;
}
.NavBar {
    height: 15px;
    margin-left: 330px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 31.5px

}

.NavBar a {
    margin-left: 72px;
    margin-top: 25.5px;
    color: #FF0000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-decoration: none;
    font-size: 18px;
}

.Photo {
    width: 100%;
    height: 100%;
}

.Heading {
    text-align: center;
    font-size: 22px;
    letter-spacing: 3.3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: rgba(55, 55, 55, 1);
}
.MainText{
    text-align: center;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 26px;
    color: rgba(55, 55, 55, 1);
}

.MainText p{
    margin-top: 30px;
}

.StartButton{
    background-color: rgba(255, 0, 0, 1);
    height: 51px;
    width: 191px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 66px;
    border-radius: 4px;
}

.StartButton a {
    line-height: 51px;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.8px;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 42.5px;
    padding-right: 43.5px;

}
.Footer{
    margin-left: 813px;
}
.Footer p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: rgba(55, 55, 55, 1);
    font-weight: 700;
    letter-spacing: 2.4px;
    margin-top: 82px;
}