.focus{
    outline: none;
    border: 10px solid green;
}
.valid{
    background-color: #3cb878;
}
.invalid{
    outline: none;
    border: 10px solid red;
}
.phrase-hidden{
    visibility: hidden;
}
.phrase-visible{
    visibility: visible;
}
.span{
    display: flex;
    align-items: center;
}
.closeButton {
    position: relative;
    width: 15px;
    height: 15px;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity ease 0.5s;
    background-color: #485863;
    margin-left: 5px;
}
.closeButton:hover{
    background-color: red;
}
.closeButton:hover:before, .closeButton:hover:after{
    background: darkred;
}
.closeButton::before {
    transform: rotate(45deg);
}
.closeButton::after {
    transform: rotate(-45deg);
}
.closeButton::before,
.closeButton::after {
    content: '';
    position: absolute;
    top: 7px;
    display: block;
    width: 15px;
    height: 2px;
    background: #000;
}